@use 'sass:color';


@use '@material/theme/color-palette';


$background: color-palette.$blue-50;


// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$indigo-900,
  $secondary: color-palette.$blue-200,
  $surface: color-palette.$blue-50,
  $background: $background,
  $error: color-palette.$red-700,
);


a {
  color: color-palette.$blue-700;
}
a:visited {
  color: color-palette.$blue-900;
}


html,
body {
  background-color: $background;
  color: if(theme.contrast-tone($background) == 'dark', #000, #fff);
  padding: 0;
  margin: 0;
  overflow: hidden;
}